body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #ffeaa7;
    color: #333;
    text-align: center;
    padding: 20px; /* Reduced padding for better mobile view */
    background-image: url('https://i.pinimg.com/originals/0e/cf/d2/0ecfd20beff2a59983b333bcd96f7271.jpg');
    background-size: cover;
}

h1 {
    color: #ff5e57;
    font-size: 2.5em; /* Adjusted font size for better mobile view */
    text-shadow: 2px 2px #ffa500;
    margin-bottom: 10px;
    animation: bounce 1.5s infinite;
}

p {
    font-size: 1.2em; /* Adjusted font size for better mobile view */
    color: #222;
    margin-bottom: 20px;
    background-color: #ffb347;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Responsive columns */
    gap: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.grid-item {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.grid-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.balloons {
    margin-top: 20px;
    animation: float 5s ease-in-out infinite;
    border-radius: 20px;
}

footer {
    margin-top: 50px;
    font-size: 1em; /* Adjusted font size for better mobile view */
    color: #222;
}

/* Animation Keyframes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
